<div class="all-jobs">
    <div class="options">
        <a href="/dashboard/{{currentUser._id}}">
            <button class="button">Back to Dashboard</button>
        </a>

        <a href="/">
            <button class="button">Logout</button>
        </a>
    </div>
    <div class="users-board">
            {{#each allUsers}}
                <div class="user form animated animatedFadeInUp fadeInUp shadow">
                    <h4>Username:</h4>
                    <p>{{username}}</p>
                    <h4>Password</h4>
                    <p>{{password}}</p>
                    <form method="POST" action="/users/delete/{{_id}}?_method=DELETE">
                        <input type="submit" value="Delete User" class="submit"/>
                    </form>
                    </a>
                </div>
            {{/each}}
    </div>
</div>
