<div class="create-job">
<form method="POST" action="/job/create" class="form">
  <h4>Job:</h4>
  <input type="text" name="job" required="true"/>
  <h4>Description:</h4>
  <textarea name="description" required="true" rows="5" cols="50"/></textarea>
  <input type="submit" value="Create Job" class="submit"/>
</form>
</div>


<div class="options">
  <a href="/dashboard/{{currentUser._id}}">
    <button class="button">Back to Dashboard</button>
  </a>

  <a href="/">
      <button class="button">Logout</button>
  </a>
</div>
