<div class="create-schedule">
<form method="POST" action="/schedule/create" class="form">
  <h4>Description:</h4>
  <textarea name="description" required="true"/>
  <h4>dateScheduled:</h4>
  <input type="date" name="dateScheduled" required="true"/>
  <h4>scheduledBy:</h4>
  <p>{{currentUser.username}}</p>
  <h4>Scheduled To:</h4>
  <select name="scheduledTo" required="true">
    {{#each allUsers}}
      <option value="{{allUsers.username}}">{{allUsers.username}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Create Profile" class="submit"/>
</form>
</div>