<form method="POST" action="/schedule/create" class="form">
  <h4>Description</h4>
  <input type="text" name="description" required="true"/>
  <h4>dateScheduled</h4>
  <input type="date" name="dateScheduled" required="true"/>
  <input type="submit" value="Create Profile" class="submit"/>
</form>

<a href="/">
    <button>Return to login</button>
</a>
