<h3>Current Profile</h3>

<form method="POST" action="/users/edit/{{_id}}?_method=PUT">
  <h4>Username</h4>
  <input type="text" name="username" required="true"/>
  <h4>Email</h4>
  <input type="text" name="email" required="true" "{{email}}"/>
  <h4>Change Password</h4>
  <input type="password" name="password" required="true"/>
  <input type="submit" value="Edit Profile">
</form>

<form action="/users/delete/{{_id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete Account"/>
</form>

<a href="/dashboard/{{_id}}">
    <button>Return to Dashboard</button>
</a>