
<form method="POST" action="/issues/create" class="form">
  <h4>Username</h4>
  <input type="text" name="username" required="true"/>
  <h4>Email</h4>
  <input type="text" name="email" required="true"/>
  <h4>Password</h4>
  <input type="password" name="password"/>
  <input type="submit" value="Create Profile" class="submit"/>
</form>

<a href="/issues">
    <button>Return to Dashboard</button>
</a>
