* {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.08em;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 98%;
    width: 98%;
    background-color: #00a2ff;
}

.all-jobs {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 98%;
}

.job-board {
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    align-items: flex-start;
    justify-content: center;
}

.jobs {
    display: flex;
    margin-left: 40px;
    width: 200px;
}

.default-none {
    font-size: 75px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
    text-shadow:none;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    font-weight: 550;
}

.button:hover {
    background: rgba(0, 247, 255, 0.5);
    border: 1px solid rgba(0, 247, 255, 0.5);

}

.hide {
    visibility: hidden;
 }

.all-schedules {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 98%;
}

.user-dashboard {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 98%;
}

.schedule {
    margin-left: 50px;
}

.schedular {
    position: absolute;
    font-size: 100px;
    color: #ffffff;
}

.login {
    margin: 20px;
}

.username {
    margin-top: -20px;
}

.password {
    margin-top: -20px;
}

.email {
    margin-top: -20px;
}

.subtext {
    margin-top: -20px;
}

.options {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 98%;
}

.admin {
    margin-top: -20px;
}

.create-job {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.create-schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.sign-up {
    margin: 250px 20px 20px 100px;
}

.login {
    margin: 250px 80px 20px 10px;
}


.form {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
    background-color: #ffffff;;
}

.submit {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    font-size: 14px;
    padding: 7px;
}

.submit:hover {
    background: rgba(0, 247, 255, 0.5);
    border: 1px solid rgba(0, 247, 255, 0.5);
}

.dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 20vh;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.animated {
    animation-duration: 0.8s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.shadow {
    -webkit-box-shadow: 7px 11px 4px 0px rgba(143,133,143,0.5);
    -moz-box-shadow: 7px 11px 4px 0px rgba(143,133,143,0.5);
    box-shadow: 7px 11px 4px 0px rgba(143,133,143,0.5);
}

.text-shadow {
    text-shadow: 2px 2px #525151;
}
